* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content-container {
    max-width: 1200px;
    margin: auto;
    min-height: 800px;
    padding: 50px 10px;
}

section {
    padding: 50px 0;
}

.products-grid {
    display: flex;
    flex-direction: row;
}

.product-container {
    margin: 10px;
    padding: 10px;
    background-color: rgb(240, 239, 239);
}