
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* font */

body {
    font-size: 1rem;
}

p, a, h1, h2, h3, h4, h5, h6, label, input {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: white
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 25px;
}